<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;display=swap"
  rel="stylesheet"
/>

<div class="container">
  <div class="row col-xs-12 top-title-section"><h1>Model Research</h1></div>
  <div class="row card-row">
    {MODEL_RESEARCH_INDEX_ITEM_BLOCK}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="arrow-section">
      <img
        class="arrow arrow-bounce"
        src="https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/041/987/original/down-arrow_2.png?1572283548"
      />
    </div>
  </div>
</div>

<div class="row bottom-section-row">
  <div class="col-md-6 section-left extra-models">
    <div class="row">
      <div class="bottom-title text-center">Additional Models</div>
      <div class="model-row text-center">
        <ul class="col-sm-6 text-center">
          <li><a href="/mr-2020-toyota-tacoma" target="_blank">Tacoma</a></li>
          <li><a href="/mr-2020-toyota-tundra" target="_blank">Tundra</a></li>
          <li>
            <a href="/mr-2020-toyota-land-cruiser" target="_blank"
              >Land Cruiser</a
            >
          </li>
          <li><a href="/mr-2020-toyota-4runner" target="_blank">4Runner</a></li>
          <li><a href="/mr-2020-toyota-prius" target="_blank">Prius</a></li>
          <li><a href="/mr-2020-toyota-ch-r" target="_blank">CH-R</a></li>
        </ul>
        <ul class="col-sm-6 text-center">
          <li><a href="/mr-2020-toyota-yaris" target="_blank">Yaris</a></li>
          <li>
            <a href="/mr-2020-toyota-corolla-hb" target="_blank">Corolla HB</a>
          </li>
          <li><a href="/mr-2020-toyota-avalon" target="_blank">Avalon</a></li>
          <li><a href="/mr-2020-toyota-sienna" target="_blank">Sienna</a></li>
          <li><a href="/mr-2020-toyota-sequoia" target="_blank">Sequoia</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6 section-right"></div>
</div>

<style>
  .extra-models {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .model-row {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .col-md-6.section-left {
    padding: 0 !important;
  }

  .card.card--3 .card__img--hover {
    background-position-x: 32%;
  }

  .card.card--4 .card__img--hover {
    background-position-x: 69%;
  }
  .card-row {
    margin: auto;
  }

  .header-image-container {
    height: 88vh;
    width: 50%;
  }

  .header-image {
    background-image: url(https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/041/988/original/CAM_MY20_0025_V001.jpg?1572284337);
    background-position-y: 84%;
    background-position-x: 65%;
    width: 100%;
    height: 88vh;
    margin: 0 auto;
    background-size: cover;
  }

  /* text */
  .top-title-section {
    margin: auto;
    font-size: 0em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    margin-top: 0.5em;
  }

  .model-research-text {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #404040;
    padding: 30px;
  }

  .model-brand-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    color: #333333;
    margin-bottom: 0px;
  }

  .model-type-text {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 4px;
    font-size: 5em;
    font-weight: 600;
    text-align: left;
    color: #cc0000;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  h2.col-md-12.text-center {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    letter-spacing: 8px;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
  }

  .spec-title-text h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
    font-weight: 400;
  }

  .spec-title-text h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
  }

  .row.specs .col-md-4 {
    text-align: center;
  }
  .text-box {
    width: 85%;
    margin: auto;
    margin-top: 5%;
  }

  .bottom-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 0 auto;
    padding: 7px;
    text-transform: uppercase;
    border-color: white;
    letter-spacing: 2px;
    width: 300px;
    height: 45px;
    border: 2px solid #fff;
    margin-bottom: 15px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .bottom-section-row li {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    line-height: 30px;
    transition: all 0.8s ease-in-out;
  }

  .bottom-section-row li:hover {
    transform: scale(1.2);
    color: rgba(255, 255, 255, 0.482);
  }

  .row.mrp-buttons {
    margin-top: 5%;
  }

  .row.mrp-buttons a.col-md-12 {
    width: 113%;
  }

  .row.mrp-buttons a.col-md-12 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 400;
    color: #fff;
    padding: 12px;
    border: solid 1px;
    /* transition: all 0.8s; */
    background-color: #cc0000;
    text-decoration: none;
  }

  .row.mrp-buttons a.col-md-12:hover {
    /* transform: scale(1.1); */
    background-color: #cc000093;
    text-decoration: none;
  }

  .row.images {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .row.images img.col-md-6 {
    margin-bottom: 2%;
  }

  .snip1577.col-md-6.img-responsive {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .row.specs {
    background: #cc0000;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  /* button spacing */
  /* .mrp-buttons .col-xs-12 {
    padding: 0px;
  } */
  .mrp-buttons .col-md-12 .col-xs-12 {
    padding: 0px !important;
  }

  /* arrow */

  .arrow-section {
    max-width: 700px;
    margin-top: 8%;
    margin: auto;
  }

  .arrow {
    display: block;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0px auto;
    margin-top: 6%;
    transform-origin: bottom;
    width: 13%;
  }

  .arrow-bounce {
    animation-name: bounce-2;
    animation-timing-function: cubic-bezier(0, 0, 0.54, 1.4);
  }
  @keyframes bounce-2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .arrow:hover {
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
  }

  @media (max-width: 762px) {
    .col-xs-12 {
      width: 100% !important;
    }
  }

  .snip1577 {
    font-family: "Open Sans", sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    text-align: left;
    font-size: 16px;
    background: #000;
  }

  .snip1577 *,
  .snip1577:before,
  .snip1577:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.7s ease;
  }

  .snip1577 img {
    max-width: 101%;
    vertical-align: top;
  }

  .snip1577:before,
  .snip1577:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }

  .snip1577:before {
    width: 0;
    height: 1px;
  }

  .snip1577:after {
    height: 0;
    width: 1px;
  }

  .snip1577 figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px 30px;
  }

  .snip1577 h3,
  .snip1577 h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 25px;
    opacity: 0;
  }

  .snip1577 h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
  }

  .snip1577 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .snip1577:hover img,
  .snip1577.hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }

  .snip1577:hover:before,
  .snip1577.hover:before,
  .snip1577:hover:after,
  .snip1577.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }

  .snip1577:hover:before,
  .snip1577.hover:before {
    width: 40px;
  }

  .snip1577:hover:after,
  .snip1577.hover:after {
    height: 40px;
  }

  .snip1577:hover h3,
  .snip1577.hover h3,
  .snip1577:hover h4,
  .snip1577.hover h4 {
    opacity: 1;
  }

  .snip1577:hover h3,
  .snip1577.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .snip1577:hover h4,
  .snip1577.hover h4 {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }

  @media (max-width: 992px) {
    h2.col-md-12.text-center {
      font-size: 2em;
    }
    .spec-title-text h4 {
      font-size: 1.3em;
    }
    .spec-title-text h2 {
      font-size: 2em;
      margin-top: 5px;
    }
    .row.specs {
      height: 53vh;
    }
    .row.specs .col-md-4 {
      margin-bottom: 3em;
    }
  }

  @media (max-width: 762px) {
    .col-xs-4 {
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    .row.spec-title-text .col-md-4 {
      border-right: 1px solid;
    }
  }

  @media (max-width: 1200px) {
    .header-image-container {
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .header-image,
    .header-image-container {
      height: 50vh;
    }
  }

  .cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
  }

  /* .card--1 .card__img,
  .card--1 .card__img--hover {
    background-image: url("https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/043/021/original/Toyota-Corolla.jpg?1573065485");
  }

  .card--2 .card__img,
  .card--2 .card__img--hover {
    background-image: url("https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/043/020/original/Toyota-Camry.jpg?1573065485");
  }

  .card--3 .card__img,
  .card--3 .card__img--hover {
    background-image: url("https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/043/023/original/Toyota-Rav4.jpg?1573065486");
  }

  .card--4 .card__img,
  .card--4 .card__img--hover {
    background-image: url("https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/043/022/original/Toyota-Highlander.jpg?1573065486");
  } */

  .card__clock-info {
    float: right;
  }

  .card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0px;
  }

  .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
  }

  .card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 216px;
    /* top: 0; */
  }
  .card {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    margin-top: 37px;
  }
  .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1, 1.1);
  }

  .card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 237px 24px 37px 24px;
    text-align: center;
  }

  .card__category {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #333333;
  }

  .card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
  }

  .card:hover .card__img--hover {
    height: 100%;
    opacity: 0.7;
  }

  .card:hover .card__info {
    background-color: transparent;
    position: relative;
  }

  .card:hover .card__info-hover {
    opacity: 1;
  }

  li {
    list-style-type: none !important;
  }

  .bottom-section-row {
    display: flex;
    height: 50vh;
    margin-top: 3%;
  }

  .section-left {
    background-color: #333333;
    flex: 1;
  }

  .section-right {
    float: left;
    flex: 1;
    background-image: url(https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/043/025/original/Highlight.jpg?1573073306);
    background-size: cover;
    background-position-x: 98%;
    background-color: #333333;
  }

  .section-right:hover {
    background-blend-mode: luminosity;
    transition: all 0.8s ease-in-out;
  }

  @media (max-width: 767px) {
    .bottom-section-row {
      height: 140vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  /* @media (min-width: 768px) {
    .col-sm-6 {
      width: auto;
    }
  } */
</style>

<script>
  $(document).ready(function() {
    /* scrolling */
    $("img.arrow").click(function() {
      $("html,body").animate(
        {
          scrollTop: $(".arrow-section").offset().top,
        },
        1000
      );
    });
  });
</script>
